/* RGB CODE = 51 122 183 */
/* RGB CODE = 232 133 0 */
@import url(http://fonts.googleapis.com/css?family=Lustria|Lato:200,300,400,700);
/* Pre loader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../images/preloader.gif") no-repeat center center; }

body {
  background-image: url("../images/buried.png");
  background-color: #2e2e2e;
  line-height: 1.4 !important; }

/*      Misc. Classes
-------------------------------------------------------------- */
#main {
  padding-top: 150px; }

.center {
  text-align: center; }

.f-right {
  float: right; }

.f-left {
  float: left; }

.magnifier {
  border: 5px solid #FFF;
  height: 250px;
  width: 250px;
  position: absolute;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 10px #AAA inset;
  border-radius: 200px;
  top: 100px;
  left: 40px; }

.headline {
  overflow: hidden;
  text-align: center; }

.headline-margin {
  margin: 30px 5px 5px 5px; }

.headline span {
  position: relative; }

.headline span:before,
.headline span:after {
  content: "";
  position: absolute;
  top: 50%;
  height: .2em;
  border-top: 2px solid #E88500;
  border-bottom: 2px solid #E88500;
  width: 200em; }

.headline span:before {
  right: 100%;
  margin-right: .5em; }

.headline span:after {
  left: 100%;
  margin-left: .5em; }

/*      Contact Page
-------------------------------------------------------------- */
.contact {
  background-image: url("../images/map-image1.png");
  text-align: center;
  padding-bottom: 50px;
  color: #F0FFF0;
  font-family: 'Lato', sans-serif; }
  .contact h1 {
    font-size: 60px;
    font-weight: 700; }
  .contact h2 {
    font-size: 46px;
    margin-bottom: 50px;
    font-weight: 400; }
  .contact h3 {
    font-size: 40px;
    font-weight: 300; }
  .contact .fa-envelope {
    color: #F0FFF0; }
  .contact .fa-phone {
    color: #F0FFF0; }
  .contact .fa-circle {
    color: #337ab7; }
  .contact .contact-social-icon {
    margin-top: 50px; }
    .contact .contact-social-icon .fa {
      color: #F0FFF0;
      margin: 40px 5px 20px 20px; }
    .contact .contact-social-icon .fa:hover {
      color: #337ab7; }

/*      Services Page
-------------------------------------------------------------- */
.service {
  background-color: #F0FFF0;
  color: #337ab7;
  font-family: 'Lato', sans-serif; }
  .service h1 {
    font-weight: 400; }
  .service h2 {
    font-weight: 300; }
  .service p {
    font-weight: 200;
    margin-top: 35px;
    font-size: 18px;
    color: #2e2e2e; }

.service-contact {
  margin-top: 40px; }
  .service-contact a {
    font-family: 'Lato', sans-serif;
    font-weight: 400; }

.service-span {
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.kwicks-service {
  height: 375px;
  margin-top: 30px !important; }
  .kwicks-service li {
    height: 375px;
    /* overridden by kwicks but good for when JavaScript is disabled */
    margin-left: 5px;
    float: left; }

#poly-advantages {
  font-family: 'Lato', serrif;
  font-size: 18px;
  font-weight: 200;
  color: #2e2e2e; }
  #poly-advantages ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-start: 0px; }

#slider-epoxy {
  margin-top: 30px; }

#slider-grind {
  margin-top: 30px; }

/*      Home Page aka index
-------------------------------------------------------------- */
.main-info {
  background-color: #F0FFF0;
  padding-top: 45px; }
  .main-info p {
    font-family: 'Lustria', serrif;
    font-size: 20px;
    color: #2e2e2e;
    padding: 0 25px 0 25px;
    text-align: justify; }
  .main-info p::first-letter {
    font-size: 60px;
    color: #337ab7;
    font-weight: 700;
    line-height: 0em; }

.home-icon-deco {
  color: #E88500;
  text-transform: uppercase; }

.kwicks-home {
  height: 400px; }
  .kwicks-home li {
    height: 400px;
    /* overridden by kwicks but good for when JavaScript is disabled */
    margin-left: 5px;
    float: left; }

.specialize {
  background-color: #F0FFF0;
  padding-bottom: 40px; }
  .specialize h1 {
    font-family: 'Lato', sans-serif;
    color: #337ab7;
    font-size: 42px;
    font-weight: 700; }
  .specialize h2 {
    color: #337ab7;
    font-family: 'Lato', sans-serif;
    font-weight: 400; }
  .specialize p {
    font-family: 'Lustria', serrif;
    font-size: 18px;
    text-align: justify; }

.more-info-btn {
  color: white;
  background-color: #337ab7;
  margin-top: 50px;
  font-size: 24px;
  font-family: 'Roboto Slab', sans-serif; }

.more-info-btn:hover {
  text-decoration: none;
  color: #F0FFF0;
  background-color: #80C1E7;
  color: #337ab7; }

/*      Header  
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background-image: url("../images/buried.png");
  background-color: #2e2e2e;
  /*background-color: white;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }

header h1#logo {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  height: 150px;
  line-height: 150px;
  margin-top: -1px;
  float: left;
  font-size: 60px;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

header h1 a {
  color: #337ab7; }

header h1 a:hover {
  color: #80C1E7;
  text-decoration: none; }

.active {
  color: #80C1E7;
  text-decoration: none; }

header nav {
  display: inline-block;
  float: right;
  padding-right: 10px; }

header nav a {
  color: #337ab7;
  font-family: 'Lato', sans-serif;
  line-height: 150px;
  margin-left: 20px;
  font-weight: 300;
  font-size: 26px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

header nav a:hover {
  color: #9fdbfc;
  text-decoration: none; }

header.smaller {
  height: 75px; }

header.smaller h1#logo {
  height: 75px;
  line-height: 75px;
  font-size: 40px; }

header.smaller nav a {
  line-height: 75px;
  font-size: 20px; }

/*      sl-slider
-------------------------------------------------------------- */
.sl-slider-wrapper {
  position: relative;
  overflow: hidden; }

.sl-slider-home {
  height: 400px;
  font-family: 'Roboto Slab', sans-serif; }

.sl-slider-service {
  height: 400px; }

/* Slide wrapper and slides */
.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.sl-slide {
  z-index: 1; }

/* The duplicate parts/slices */
.sl-content-slice {
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 1; }

/* Horizontal slice */
.sl-slide-horizontal .sl-content-slice {
  width: 100%;
  height: 50%;
  left: -200px;
  -webkit-transform: translateY(0%) scale(1);
  -moz-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1); }

.sl-slide-horizontal .sl-content-slice:first-child {
  top: -200px;
  padding: 200px 200px 0px 200px; }

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
  top: 50%;
  padding: 0px 200px 200px 200px; }

/* Vertical slice */
.sl-slide-vertical .sl-content-slice {
  width: 50%;
  height: 100%;
  top: -200px;
  -webkit-transform: translateX(0%) scale(1);
  -moz-transform: translateX(0%) scale(1);
  -o-transform: translateX(0%) scale(1);
  -ms-transform: translateX(0%) scale(1);
  transform: translateX(0%) scale(1); }

.sl-slide-vertical .sl-content-slice:first-child {
  left: -200px;
  padding: 200px 0px 200px 200px; }

.sl-slide-vertical .sl-content-slice:nth-child(2) {
  left: 50%;
  padding: 200px 200px 200px 0px; }

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
  position: absolute; }

.sl-content {
  width: 100%;
  height: 100%;
  background: #F0FFF0; }

.nav-arrows span {
  position: absolute;
  z-index: 2000;
  top: 90%;
  width: 40px;
  height: 40px;
  border: 8px solid #F0FFF0;
  opacity: 0.8;
  text-indent: -90000px;
  margin-top: -40px;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-arrows span:hover {
  border-color: #337ab7;
  opacity: 0.7; }

.nav-arrows span.nav-arrow-prev {
  left: 5%;
  border-right: none;
  border-top: none; }

.nav-arrows span.nav-arrow-next {
  right: 5%;
  border-left: none;
  border-bottom: none; }

/* Custom navigation dots */
.nav-dots {
  text-align: center;
  position: absolute;
  bottom: 2%;
  height: 30px;
  width: 100%;
  left: 0;
  z-index: 1000; }

.nav-dots span {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 3px;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.1); }

.nav-dots span.nav-dot-current:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background: rgba(51, 122, 183, 0.8); }

/* Slide 1 */
.bg-1 .sl-slide-inner, .bg-1 .sl-content-slice {
  background-color: #252E7B;
  background-image: url("../images/banner/poly.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.banner-1 {
  color: #F0FFF0;
  margin-top: 5%;
  opacity: 0.95;
  text-align: center; }
  .banner-1 h1 {
    font-size: 40px;
    padding: 5px 5px 5px 5px;
    width: 500px;
    background-color: #337ab7;
    border-radius: 15px; }
  .banner-1 h2 {
    background-color: #E88500;
    font-size: 36px;
    width: 450px;
    margin-left: 25px;
    padding: 5px 0px 5px 0px;
    border-radius: 15px; }

/* Slide 2 */
.bg-2 .sl-slide-inner, .bg-2 .sl-content-slice {
  background-color: #3B7E2E;
  background-image: url("../images/banner/epoxy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.banner-2 {
  color: #F0FFF0;
  margin-top: 5%;
  opacity: 0.95;
  text-align: center; }
  .banner-2 h1 {
    font-size: 40px;
    padding: 5px 5px 5px 5px;
    width: 400px;
    margin-left: 25px;
    background-color: #337ab7;
    border-radius: 20px; }
  .banner-2 h2 {
    background-color: #E88500;
    font-size: 36px;
    width: 450px;
    padding: 5px 0px 5px 0px;
    border-radius: 20px; }

/* Slide 3 */
.bg-3 .sl-slide-inner, .bg-3 .sl-content-slice {
  background-color: #252E7B;
  background-image: url("../images/banner/custom.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.banner-3 {
  color: #F0FFF0;
  margin-top: 5%;
  opacity: 0.95;
  text-align: center; }
  .banner-3 h1 {
    font-size: 40px;
    padding: 5px 5px 5px 5px;
    width: 400px;
    margin-left: 50px;
    background-color: #337ab7;
    border-radius: 20px; }
  .banner-3 h2 {
    background-color: #E88500;
    font-size: 36px;
    width: 500px;
    padding: 5px 0px 5px 0px;
    border-radius: 20px; }

/*      Footer
-------------------------------------------------------------- */
.social-media-footer {
  display: block-inline; }
  .social-media-footer .fa {
    margin: 10px 5px 10px 5px;
    color: #337ab7; }
  .social-media-footer .fa:hover {
    color: #80C1E7; }

/*      Media Queries
-------------------------------------------------------------- */
@media all and (min-width: 1024px) {
  .special-align {
    margin-top: 10%;
    margin-left: 30px; } }
@media all and (min-width: 376px) and (max-width: 1024px) {
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 95px;
    line-height: 75px;
    font-size: 40px;
    text-align: center; }

  header nav {
    display: block;
    float: none;
    height: 75px;
    text-align: center;
    margin: 0 auto; }

  header nav a {
    line-height: 30px;
    margin: 0 10px;
    font-size: 24px;
    font-weight: 400; }

  header.smaller {
    height: 75px; }

  header.smaller h1#logo {
    line-height: 40px;
    font-size: 20px; }

  header.smaller nav {
    height: 20px;
    margin-top: -25px; }

  header.smaller nav a {
    line-height: 20px;
    font-size: 14px; } }
/* Hide slider on mobile screen */
@media all and (max-width: 768px) {
  #slider {
    display: none; } }
@media all and (min-width: 376px) and (max-width: 768px) {
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 95px;
    line-height: 75px;
    font-size: 40px;
    text-align: center; }

  header nav {
    display: block;
    float: none;
    height: 75px;
    text-align: center;
    margin: 0 auto; }

  header nav a {
    line-height: 30px;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400; } }
/* For iphone 3/4/5 */
@media all and (max-width: 375px) {
  header h1#logo {
    display: block;
    float: none;
    margin: 0 auto;
    height: 75px;
    line-height: 75px;
    font-size: 20px;
    text-align: center; }

  header nav {
    display: block;
    float: none;
    height: 75px;
    text-align: center;
    margin: 0 auto; }

  header nav a {
    line-height: 30px;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 400; }

  header.smaller {
    height: 75px; }

  header.smaller h1#logo {
    height: 30px;
    line-height: 30px;
    font-size: 20px; }

  header.smaller nav {
    height: 20px;
    line-height: 20px; }

  header.smaller nav a {
    line-height: 20px;
    font-size: 12px; }

  .main-info h1 {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
